.your__cart{
    background-color: red;
    width: 35rem;
 

}


.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card{
    display: flex;
    background-color: blue;
    width: 100%;
}
.your__cart--h1__p__container{
    display: flex;
    justify-content: space-between;
}
    .h1__p__container--h1{
        margin-left: 2rem;
    }
    .h1__p__container--p{
    }

.card__misc--column{
    display: flex;
    flex-direction: column;
    align-items: center;

}