
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Cormorant Garamond', serif; */
    list-style: none;
    text-decoration: none;
}

li{
    list-style-type: none
} 


/* body{
    padding: 0;
    margin: 0;
    
} */

header {
    background-color: #093931;
    /* width: 100%; */
    /* height: 100%; */
}

ul{
    display: flex;
    margin-right:10%;
    gap: 5px;
    /* Se quita el gap*/
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right:7%;
    /* margin-rigth: 10% */

}
.menuItem{
    display: flex;
    justify-content: space-between;
    /* background-color: #093931; */
    margin: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 400;
    /* font-size: 1.25rem;  */
    line-height: 1.375rem;
    padding: 0 15px;

}
    .menuItem a{
        text-decoration: none;
        color: inherit;
        font-family: 'Manrope';
        font-weight: lighter;
        
    }

#menu-icon{
    display: none;
    color: #FFFFFF;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}
.menuItem:hover{
    color: #F2C66D;
    text-decoration: none; /* Quita el subrayado predeterminado */
    border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 2px;
}
    

.header{
    display: flex;
    position: absolute;
    /* position: fixed */
    top:0; left: 0; right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #093931; 
    /* margin-bottom: -50px; */
    height: 45px;
    padding-top: 50px;
    padding-bottom: 25px;
}



.darlingTitle{
    margin-left: 10%;
    display: flex;
    color:#F5D38E;
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    line-height: 2.8;
    font-weight: 400;

}



.hero{
    background-color: #093931;
    position: relative;
    width: 100%;
    /* height: 63rem; */
}
.hero__figure{
    width: 100%;
    /* width: auto; */
    height: 100vh; /* 100% del viewport height */
    overflow: hidden;
    position: relative;
}
/* .vector{
    width: 100%;
    height: 120px;
    z-index: 1;
    position: relative;
    margin-top: 6rem;

    Este es de vectores

} */

.vector{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
}


.heroSparkleText{
    z-index: 3;
    position: absolute;
    margin-top: 15%;
    margin-left:10%;
}
    .sparkleImage{
        width: 120%;
    }

.heroProductsImages{
    position: absolute;
    justify-content: space-between;
    z-index: 2;
    margin-top: 10%;
    right: 49%;
    /* margin-left: 53%; */

}
    .necklaceImage{
        width:28rem;
        /* height: 43rem; */
        height: auto;
        position: absolute;

    }
    .ringsImage{
        position: absolute;
        width: 20rem;
        height: auto;
        margin-left: 20rem;
        z-index: 3;
        margin-top:7.3rem;

    }


.buttonShopNow{
    background: #093931;
    border-radius: 26px;
    border: 1px solid #FFFFFF;
    font-family: Manrope;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    bottom: 29%;
    margin-left:10%;
    position: absolute;
    font-size: 1.125rem;
    /* width: 12.5rem; */
    width: 13rem;
    height: 3.25rem;
    z-index: 1000;
}

.buttonShopNow:hover{
    cursor: pointer;
}

/* Description  ------> */

.description{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5%;
    /* background: red; */
    margin-right: 10%;
}
    .description__container{
        width: 20%;
        font-family: Manrope;
        font-size: 1.5rem;   /* ELIMINAR ????*/
        margin-left: 10%;

    
    }

    /* QUITAR FONT SIZE DE TITLE Y TEXT ???? */
    
        .description__figure--logo {
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            
            
            
        }
        .description__container--description__container--p--title{
            font-weight: bold;
            font-family: Cormorant Garamond;
            font-size: 1.6rem;
        }
        .description__container--description__container--p{
            color:#9095A0;
            font-family: Manrope;
            font-size: 1.2rem;
        }
   


/* espacio  para featured products */

.main__features__products{
    display: flex;
    margin-top:5%;
    width: 100%;

}
    .features{
        margin-left:10%;
        margin-right: 10%;
        width: 25%;
    }

            .features__content{
                margin-top: 5rem;
            }    
    
            .features__title{
            margin-top: 20%;
            font-family: 'Cormorant Garamond', serif;
            font-size: 3rem;
            color:#0D554A;
            width: 50%;
            font-weight: 600;
            margin-bottom: 0.5rem;

            }
            .features__text{
            width: 100%;
            font-size: 1.2rem;
            font-family: Manrope;
            /* color:#424955; */
            color:#9095A0;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            }
            .features__button{
                background: none;
                border-radius: 26px;
                border: 1px solid #0D554A;
                font-family: Manrope;
                font-weight: 400;
                color: #0D554A;
                font-size: 1.125rem;
                width: 12.5rem;
                height: 3.25rem;
            }



    .products{
        display: flex;
        overflow: hidden;
        margin-left: -4.5rem;
        /* flex-wrap: wrap; */
        padding: 3%;
        /* background: red; */
        width: 100%;
        background: blue;
    }

        .products__figure{
            width: 100%;
        }
        .products__showcase{
            padding: 1rem;
            background: red;
        }
            /* .products__image{
            border-radius: 10px 10px 0px 0px;
            width: 20rem;
            height: 25rem;
            } */

            .products__image{
                border-radius: 10px 10px 0px 0px;
                width: 20rem;
                /* height: 25rem; */
                }
            .products__title{
                margin-left: 1rem;
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .products__price{
                margin-left: 1rem;
                font-size: 1.2rem;
                font-family: Manrope;  
            }


/* espacio para collections */

.main__collections{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

    .section__container__collections--title{
        display: flex;

    }

    .section__container__collections--imgs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        height: 100vh;
        margin-top: -100px;
    }



    .section__container__collections--left{
        margin-top: 15rem;
        /* width: 35%; */
        width: auto;
    }

    .section__container__collections--center{
        margin-top: 10rem;
        /* width: 35%; */
        width: auto;
    }

    .section__container__collections--rigth{
        margin-top: 15rem;
        /* width: 35%; */
        width: auto;
    }

    .collections__img{
        border-radius: 8px;
        /* margin-top: 2rem; */
        /* margin-top: ; */
        width: 100%;
        background: green;
    }

    .section__container__collections--btn{
        margin-top: 5rem;
    }

    .figcaption__collections__img1, .figcaption__collections__img2,
    .figcaption__collections__img3, .figcaption__collections__img4,
    .figcaption__collections__img5, .figcaption__collections__img6 {
        font-family: Cormorant Garamond;
        font-size: 2rem;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        bottom: 4.0625rem;
    }
/* border-radius: 10px 10px 10px 10px; */


/* espacio para selection */
.main_selection_products{
    display: flex;
    margin-top:5%;
    width: 100%;
}
    .selections__title{
        margin-top: 20%;
        font-family: 'Cormorant Garamond', serif;
        font-size: 3rem;
        color:#0D554A;
        width: 70%;
        font-weight: 600;
        margin-bottom: 0.5rem;

    }
   
/* espacio para Our Story */

.main__story{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
}

.main__story__title{
    font-family: Cormorant Garamond;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0D554A;
    margin: 1rem;
    margin-bottom: 3%;
    
}

.main__story__figure{
    width: 100%;
    /* background: red;
    text-align: center; */
}
.main__story__figure--image{
    width:100%;
    /* width: auto; */
    
}

.button__ourstory{
    position: absolute;
    border-radius: 26px;

}

/* espacio para footer */


.footer{
    background-color: #093931;
    max-width: 100%;
}

.section__footer{
    display: flex;
}

.footer__darlingTitle{
    position: relative;
    left: -15px;
}
.article__footer--h1--p{
    text-align: center;
    align-items: center;
    color:#FFFFFF;
    left: 10%;
    right: 10rem;
    top:7rem;
    bottom: 5rem;
    position: relative;
    width:40%;
}

.article__footer--h1{
    position: relative;
    margin-top: 25%;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-family: Cormorant Garamond;
    text-align: justify;

}

.article__footer--p{
    font-family: Manrope;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 2.2rem;
    font-weight: lighter;

}




/*  footer img*/

.footer_figure{
    background-color: #171A1F4D;
    display: flex;
    width: 50%; /*60%*/
    position: relative;
    text-align: center;
    border-radius: 8px;
    margin-right: 10%;
    margin-top: 5%;
}

.footer_img{
    /* width: 50rem; */
    width: auto;
    height: 100%;
    border-radius: 8px 0 0 8px;

}

.footer__figcaption{
    
    font-size: 1.2rem; /*1 Rem*/
    line-height: 40px;
    font-weight: 400px;
    font-family: Manrope; 
    text-align: justify;
    color:#FFFFFF;
    margin: 4rem 0;
    width: 85%;
    padding-left: 3.5rem;
    font-weight: lighter;

}

.footer__figcaption--h1{
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-family: Manrope;
    font-size: 1.5rem;
    
}

.footer__figcaption--p{
    font-family: Manrope;
    font-size: 1.2rem;
}

/* ------------------------ */
.footer__container__contact{
    
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}



.section__footer__items{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 15px;
    /* margin-right: 7rem; */
    width: 40%;
    justify-content: center;
}

.footer__items--left, .footer__items--right{
    color: #FFFFFF;
    font-family: Manrope;
    margin-bottom: 50px;

}


/*  ------------- */
.article__container__subscribe{
    margin-top: -0.5rem;
}

.article__container__subscribe--p--primary{
    color: #FAFAFB;
    font-family: Cormorant Garamond;
    font-size: 1.8rem;
    font-weight: 300px;


}
.article__container__subscribe--p--secundary{
    color: #FAFAFB;
    font-size: 1.1rem;
    font-family: Manrope;
    font-weight: 200px;

}

.footer__item--left--p, .footer__item--right--p{
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 8rem;
    font-size: 1.2rem;
    z-index: 1000;
    
}

.footer__item--left--p:hover, .footer__item--right--p:hover{
    color: #F2C66D;
    text-decoration: none; /* Quita el subrayado predeterminado */
    border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.footer__input{
    margin-top: 1.5rem;
    width: 25rem;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFFFFF;
    height: 2.5rem; /*2.1875rem*/
    font-family: Manrope;
    font-size: 0.9rem;
    background-color: #093931;
    background-image: url("../assets/Mail.png");
    background-repeat: no-repeat;
    background-position: 10px ;
}

.footer__input::placeholder{
    color: #FFFFFF;
}

.footer__btn{
    background-color: #F2C66D;
    font-family: Manrope;
    font-size: 0.875rem;
    border-style: none;
    border-radius: 0px 18px 18px 0;
    width: 7.125rem;
    height: 2.50rem;
    margin-left: -0.25rem;

}

.footer__container__socialmedia{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
    
}

.footer__container__socialmedia__copyright{
    font-family: Manrope;
    color: #FFFFFF;
    font-size: 0.875rem;
}

.footer__socialmedia{
    display: flex;
    gap: 1rem;
}

.container__buttons{
    position: absolute;
    
    left: 80%; /*80%*/
    margin-top: 30rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 26px;

}

.buttons_container{
    display:flex;
    gap:1.6rem;
    position: absolute;
    /* font-size: 1.9375rem; */
    background: transparent;
    color:#FFFFFF;
    right: 4rem;
    margin-top: 2rem;
    font-weight: lighter;
    

}

.button__left{
    width: 5rem; 
    height: 5rem;
    border-radius: 60px;
    font-size: 5rem;
    padding-bottom: 0.3rem;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    font-family: Manrope;
    position: absolute;
    right: 5rem;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    

}

    .button__left:hover{
        cursor: pointer;
    }

.button__right{
    width: 5rem;
    height: 5rem;
    border-radius: 60px;
    padding-bottom: 0.3rem;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
    background: transparent;
    font-family: Manrope;
    font-size: 5rem;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1rem;
    right: -1rem;
    
}

    .button__right:hover{
        cursor: pointer;
    }











/*  -------------------------------------------------------------------- */

.main--features--products{
    max-width: 100%;
    overflow: hidden;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 5%;
    display: flex;
    
}

.container--featured{
    width: 25%;
    padding-right: 100px;
    /* margin-top: 1rem; */
    /* background: red; */
    margin-left: 10%;
}
    .features--title{
        font-family: 'Cormorant Garamond';
        font-size: 3rem;
        color: #0D554A;
        margin-bottom: 0.5rem;
        margin-top: 0.7rem;
        /* background: yellow; */
    }

    .features--text{
        font-family: Manrope;
        color:#9095A0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        width: 20rem;
    }

.container--products{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-right: 10%;
    
}



.product--img{
    width: 20rem;
    /* width: auto; */
    border-radius: 10px 10px 0px 0px;
}
    .product--img--figcaption{
        margin-left: 1rem;
    }
    .product--figcaption--title{
        font-size: 1.6rem;
        font-family: Cormorant Garamond;

    }
    .product--figcaption--text{
        font-size: 1.2rem;
        font-family: Manrope;

    }


.product--img:hover, .product--img--figcaption:hover,
.product--figcaption--title:hover, .product--figcaption--text:hover {
    cursor: pointer;
}


.features__button:hover{
    cursor: pointer;
    background: #093931;
    color:#FFFFFF
}


.section__container__collections--left:hover, .section__container__collections--rigth:hover,
.section__container__collections--center:hover{
    cursor: pointer;
}

.darlingTitle:hover{
    cursor: pointer;
}

.footer__btn:hover{
    cursor: pointer;
}

.socialmedia__img:hover{
    cursor:pointer
}

.footer__input:focus{
    outline: none;
    color: #FFFFFF;
    background-image: none;
    padding-left: 15px;
}
    .footer__input:focus::placeholder{
        color:transparent
    }
    .footer__input:not(:focus){
        color: #FFFFFF;
    }


/*  -------------------------------------------------------------------- */
@media only screen and (max-width: 480px){
    
}



@media only screen and (min-width: 481px) and (max-width: 768px) {

}



@media only screen and (min-width: 769px) and (max-width: 1024px) {

}



@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    /* *{
        box-sizing: border-box;
        margin:0;
        padding:0;
    }

    

    .header{
        background: red;
        max-width: 1280px;
    } */
}




@media only screen and (min-width: 1281px) {

}




