
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Cormorant Garamond', serif; */
    list-style: none;
    text-decoration: none;


}

li{
    list-style-type: none
} 


/* body{
    padding: 0;
    margin: 0;
    
} */

header {
    background-color: #093931;
    /* width: 100%; */
    /* height: 100%; */
}

ul{
    display: flex;
    margin-right:10%;
    gap: 5px;
    /* Se quita el gap*/
}
nav{
    display: flex;
    justify-content: space-between;
    margin-right:7%;
    /* margin-rigth: 10% */

}
.menuItem{
    display: flex;
    justify-content: space-between;
    /* background-color: #093931; */
    margin: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 400;
    /* font-size: 1.25rem;  */
    line-height: 1.375rem;
    padding: 0 15px;

}
    .menuItem a{
        text-decoration: none;
        color: inherit;
        font-family: 'Manrope';
        font-weight: lighter;
        
    }

#menu-icon{
    display: none;
    color: #FFFFFF;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}
.menuItem:hover{
    color: #F2C66D;
    text-decoration: none; /* Quita el subrayado predeterminado */
    border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 2px;
}
    

.header{
    display: flex;
    position: absolute;
    /* position: fixed */
    top:0; left: 0; right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #093931; 
    /* margin-bottom: -50px; */
    height: 45px;
    padding-top: 50px;
    padding-bottom: 25px;
}



.darlingTitle{
    margin-left: 10%;
    display: flex;
    color:#F5D38E;
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    line-height: 2.8;
    font-weight: 400;

}



.hero{
    background-color: #093931;
    position: relative;
    width: 100%;
    /* height: 63rem; */
}
.hero__figure{
    width: 100%;
    /* width: auto; */
    height: 100vh;
    overflow: hidden;
    position: relative;
}
/* .vector{
    width: 100%;
    height: 120px;
    z-index: 1;
    position: relative;
    margin-top: 6rem;

    Este es de vectores

} */

.vector{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
}


.heroSparkleText{
    z-index: 3;
    position: absolute;
    margin-top: 15%;
    margin-left:10%;
}
    .sparkleImage{
        width: 120%;
    }

.heroProductsImages{
    position: absolute;
    justify-content: space-between;
    z-index: 2;
    margin-top: 10%;
    /* right: 49%; */
    margin-left: 50%;
    /* margin-left: 53%; */

}
    .necklaceImage{
        width:28rem;
        /* height: 43rem; */
        height: auto;
        position: absolute;

    }
    .ringsImage{
        position: absolute;
        width: 20rem;
        height: auto;
        margin-left: 20rem;
        z-index: 3;
        margin-top:7.3rem;

    }

    .buttonHeroPng{
        position: absolute;
        z-index: 1000;
        top: 475px;
        left: 1425px;
        background-color: transparent;
        border-style: none;
    }

    .buttonHeroImg{
        width: 120%
    }
    .buttonHeroImg:hover{
        cursor: pointer;
    }


.buttonShopNow{
    background: #093931;
    border-radius: 26px;
    border: 1px solid #FFFFFF;
    font-family: Manrope;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    bottom: 29%;
    margin-left:10%;
    position: absolute;
    font-size: 1.125rem;
    /* width: 12.5rem; */
    width: 13rem;
    height: 3.25rem;
    z-index: 1000;
}

.buttonShopNow:hover{
    cursor: pointer;
}

/* Description  ------> */

.description{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5%;
    /* background: red; */
    margin-right: 10%;
}
    .description__container{
        width: 20%;
        font-family: Manrope;
        font-size: 1.5rem;   /* ELIMINAR ????*/
        margin-left: 10%;

    
    }

    /* QUITAR FONT SIZE DE TITLE Y TEXT ???? */
    
        .description__figure--logo {
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            
            
            
        }
        .description__container--description__container--p--title{
            font-weight: bold;
            font-family: Cormorant Garamond;
            font-size: 1.6rem;
        }
        .description__container--description__container--p{
            color:#9095A0;
            font-family: Manrope;
            font-size: 1.2rem;
        }
   


/* espacio  para featured products */

.main__features__products{
    display: flex;
    margin-top:5%;
    width: 100%;

}
    .features{
        margin-left:10%;
        margin-right: 10%;
        width: 25%;
    }

            .features__content{
                margin-top: 5rem;
            }    
    
            .features__title{
            margin-top: 20%;
            font-family: 'Cormorant Garamond', serif;
            font-size: 3rem;
            color:#0D554A;
            width: 50%;
            font-weight: 600;
            margin-bottom: 0.5rem;

            }
            .features__text{
            width: 100%;
            font-size: 1.2rem;
            font-family: Manrope;
            /* color:#424955; */
            color:#9095A0;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            }
            .features__button{
                background: none;
                border-radius: 26px;
                border: 1px solid #0D554A;
                font-family: Manrope;
                font-weight: 400;
                color: #0D554A;
                font-size: 1.125rem;
                width: 12.5rem;
                height: 3.25rem;
            }



    .products{
        display: flex;
        overflow: hidden;
        margin-left: -4.5rem;
        /* flex-wrap: wrap; */
        padding: 3%;
        /* background: red; */
        width: 100%;
    }

        .products__figure{
            width: 100%;
        }
        .products__showcase{
            padding: 1rem;

        }
            /* .products__image{
            border-radius: 10px 10px 0px 0px;
            width: 20rem;
            height: 25rem;
            } */

            .products__image{
                border-radius: 10px 10px 0px 0px;
                width: 20rem;
                /* height: 25rem; */
                }
            .products__title{
                margin-left: 1rem;
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .products__price{
                margin-left: 1rem;
                font-size: 1.2rem;
                font-family: Manrope;  
            }


/* espacio para collections */

.main__collections{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

    .section__container__collections--title{
        display: flex;

    }

    .section__container__collections--imgs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        height: 100vh;
        margin-top: -100px;
    }



    .section__container__collections--left{
        margin-top: 15rem;
        /* width: 35%; */
        width: auto;
    }

    .section__container__collections--center{
        margin-top: 10rem;
        /* width: 35%; */
        width: auto;
    }

    .section__container__collections--rigth{
        margin-top: 15rem;
        /* width: 35%; */
        width: auto;
    }

    .collections__img{
        border-radius: 8px;
        /* margin-top: 2rem; */
        /* margin-top: ; */
        width: 100%;
        background: green;
    }

    .section__container__collections--btn{
        margin-top: 5rem;
    }

    .figcaption__collections__img1, .figcaption__collections__img2,
    .figcaption__collections__img3, .figcaption__collections__img4,
    .figcaption__collections__img5, .figcaption__collections__img6 {
        font-family: Cormorant Garamond;
        font-size: 2rem;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        bottom: 4.0625rem;
    }
/* border-radius: 10px 10px 10px 10px; */


/* espacio para selection */
.main_selection_products{
    display: flex;
    margin-top:5%;
    width: 100%;
}
    .selections__title{
        margin-top: 20%;
        font-family: 'Cormorant Garamond', serif;
        font-size: 3rem;
        color:#0D554A;
        width: 70%;
        font-weight: 600;
        margin-bottom: 0.5rem;

    }
   
/* espacio para Our Story */

.main__story{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
}

.main__story__title{
    font-family: Cormorant Garamond;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0D554A;
    margin: 1rem;
    margin-bottom: 3%;
    
}

.main__story__figure{
    width: 100%;
    /* background: red;
    text-align: center; */
}
.main__story__figure--image{
    width:100%;
    /* width: auto; */
    
}

.button__ourstory{
    position: absolute;
    border-radius: 50%;
    border-style:none;
    z-index: 1000;
    margin-top: 120px;
    background-color: transparent;
}

.button__ourstory:hover{
    cursor: pointer;
}



/* espacio para footer */


.footer{
    background-color: #093931;
    max-width: 100%;
}

.section__footer{
    display: flex;
}

.footer__darlingTitle{
    position: relative;
    left: -15px;
}
.article__footer--h1--p{
    text-align: center;
    align-items: center;
    color:#FFFFFF;
    left: 10%;
    right: 10rem;
    top:4rem;
    bottom: 5rem;
    position: relative;
    width:40%;
}

.article__footer--h1{
    position: relative;
    margin-top: 25%;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-family: Cormorant Garamond;
    text-align: justify;

}

.article__footer--p{
    font-family: Manrope;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 2.2rem;
    font-weight: lighter;

}




/*  footer img*/

.footer_figure{
    background-color: #171A1F4D;
    display: flex;
    width: 50%;
    position: relative;
    text-align: center;
    border-radius: 8px;
    margin-right: 10%;
    margin-top: 5%;
}

.footer_img{
    /* width: 50rem; */
    width: auto;
    height: 100%;
    border-radius: 8px 0 0 8px;

}

.footer__figcaption{
    
    font-size: 1.2rem; /*1 Rem*/
    line-height: 40px;
    font-weight: 400px;
    font-family: Manrope; 
    text-align: justify;
    color:#FFFFFF;
    margin: 4rem 4rem 4rem 1rem;
    padding-left: 3.5rem;
    font-weight: lighter;
    width: 45%;
    justify-content: center;

}

.footer__figcaption--h1{
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-family: Manrope;
    font-size: 1.5rem;
    
}

.footer__figcaption--p{
    font-family: Manrope;
    font-size: 1.2rem;
}

/* ------------------------ */
.footer__container__contact{
    
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}



.section__footer__items{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 15px;
    /* margin-right: 7rem; */
    width: 40%;
    justify-content: center;
}

.footer__items--left, .footer__items--right{
    color: #FFFFFF;
    font-family: Manrope;
    margin-bottom: 50px;

}


/*  ------------- */
.article__container__subscribe{
    margin-top: -0.5rem;
}

.article__container__subscribe--p--primary{
    color: #FAFAFB;
    font-family: Cormorant Garamond;
    font-size: 1.8rem;
    font-weight: 300px;


}
.article__container__subscribe--p--secundary{
    color: #FAFAFB;
    font-size: 1.1rem;
    font-family: Manrope;
    font-weight: 200px;

}

.footer__item--left--p, .footer__item--right--p{
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 8rem;
    font-size: 1.2rem;
    z-index: 1000;
    
}

.footer__item--left--p:hover, .footer__item--right--p:hover{
    color: #F2C66D;
    text-decoration: none; /* Quita el subrayado predeterminado */
    border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.footer__input{
    margin-top: 1.5rem;
    width: 25rem;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFFFFF;
    height: 2.5rem; /*2.1875rem*/
    font-family: Manrope;
    font-size: 0.9rem;
    background-color: #093931;
    background-image: url("../assets/Mail.png");
    background-repeat: no-repeat;
    background-position: 10px ;
}

.footer__input::placeholder{
    color: #FFFFFF;
}

.footer__btn{
    background-color: #F2C66D;
    font-family: Manrope;
    font-size: 0.875rem;
    border-style: none;
    border-radius: 0px 18px 18px 0;
    width: 7.125rem;
    height: 2.50rem;
    margin-left: -0.25rem;

}

.footer__container__socialmedia{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
    
}

.footer__container__socialmedia__copyright{
    font-family: Manrope;
    color: #FFFFFF;
    font-size: 0.875rem;
}

.footer__socialmedia{
    display: flex;
    gap: 1rem;
}

.container__buttons{
    position: absolute;
    
    left: 80%;
    margin-top: 30rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 26px;

}

.buttons_container{
    display:flex;
    gap:1.6rem;
    position: absolute;
    /* font-size: 1.9375rem; */
    background: transparent;
    color:#FFFFFF;
    right: 4rem;
    margin-top: 2rem;
    font-weight: lighter;
    

}

.button__left{
    width: 5rem; 
    height: 5rem;
    border-radius: 60px;
    font-size: 5rem;
    padding-bottom: 0.3rem;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    font-family: Manrope;
    position: absolute;
    right: 5rem;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    

}

    .button__left:hover{
        cursor: pointer;
    }

.button__right{
    width: 5rem;
    height: 5rem;
    border-radius: 60px;
    padding-bottom: 0.3rem;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
    background: transparent;
    font-family: Manrope;
    font-size: 5rem;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1rem;
    right: -1rem;
    
}

    .button__right:hover{
        cursor: pointer;
    }











/*  -------------------------------------------------------------------- */

.main--features--products{
    max-width: 100%;
    overflow: hidden;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 5%;
    display: flex;
    
}

.container--featured{
    width: 25%;
    padding-right: 100px;
    /* margin-top: 1rem; */
    /* background: red; */
    margin-left: 10%;
}
    .features--title{
        font-family: 'Cormorant Garamond';
        font-size: 3rem;
        color: #0D554A;
        margin-bottom: 0.5rem;
        margin-top: 0.7rem;
        /* background: yellow; */
    }

    .features--text{
        font-family: Manrope;
        color:#9095A0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        width: 20rem;
    }

.container--products{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-right: 10%;
    
}



.product--img{
    width: 20rem;
    /* width: auto; */
    border-radius: 10px 10px 0px 0px;
}
    .product--img--figcaption{
        margin-left: 1rem;
    }
    .product--figcaption--title{
        font-size: 1.6rem;
        font-family: Cormorant Garamond;

    }
    .product--figcaption--text{
        font-size: 1.2rem;
        font-family: Manrope;

    }


.product--img:hover, .product--img--figcaption:hover,
.product--figcaption--title:hover, .product--figcaption--text:hover {
    cursor: pointer;
}


.features__button:hover{
    cursor: pointer;
    background: #093931;
    color:#FFFFFF
}


.section__container__collections--left:hover, .section__container__collections--rigth:hover,
.section__container__collections--center:hover{
    cursor: pointer;
}

.darlingTitle:hover{
    cursor: pointer;
}

.footer__btn:hover{
    cursor: pointer;
}

.socialmedia__img:hover{
    cursor:pointer
}

.footer__input:focus{
    outline: none;
    color: #FFFFFF;
    background-image: none;
    padding-left: 15px;
}
    .footer__input:focus::placeholder{
        color:transparent
    }
    .footer__input:not(:focus){
        color: #FFFFFF;
    }


/*  -------------------------------------------------------------------- */
@media only screen and (max-width: 480px){
    
    #menu-icon{
        display: flex;
        position: relative;
        right: 1.5rem;

    }

    #navlist{
        position: absolute;
        top: 100%;
        right: -7%;
        width: 300px;
        height: 40vh;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        background: #0D554A;
        transition: all .55s ease;
    }

    #navlist.open{
        right: 0;
    }

    ul{
        display: none;
        margin-left: 50px;
    }

    nav a{
        display: none;
        /* margin: 7px 0; */
        font-size: 1.2rem;
    }

    /* Cambiar display none a block y display */


    /* Hero */

    .heroSparkleText{
        top: 5rem;
    }
        .sparkleImage{
            width: 90%;
        }
        .buttonShopNow{
            bottom: 45%;
        }


        .necklaceImage{
            width: 15rem;
            top: 28.5rem;
            right: -4rem;
        }
        .ringsImage{
            width: 12rem;
            top: 25.5rem;
            right: -10rem;
        }

        .buttonHeroPng{
            left: 17.1875rem;
            top: 40.625rem;
        }
    

        /*  Description */
    .description{
        display: block;
        
    }
        .description__container{
            display: flex;
        }

        .article__container__title__p{
            height: 100%;
        }


        .description__container--description__container--p--title{
            font-size: 1.6rem;
        }
        .description__container--description__container--p{
            width:40vh;
            font-size: 1.125rem;
        }



        /* Main collections */

        .main__collections{
            margin: 10%;
        }

        .section__container__collections--imgs{
            margin: 0;
            display: block;
        
        

        }

        .section__container__collections--center, 
        .section__container__collections--rigth, 
        .section__container__collections--left{
            display: flex;
            margin: 0 0 0 0;
        }

        .collections__img{
            width: 50%;
            border-radius: 0px;

        }


        .figcaption__collections__img1, .figcaption__collections__img2,
        .figcaption__collections__img3, .figcaption__collections__img4,
        .figcaption__collections__img5, .figcaption__collections__img6{

            font-size: 1.5rem;
            right: 7.8125rem;

            position: absolute;
            color: #FFFFFF;
            z-index: 10000;

    

    }


    .figcaption__collections__img1{
        top: 115.625rem;
        left: -3.125rem;

    }
    .figcaption__collections__img2{
        top: 114.375rem;
        left: 18.75rem;

    }
    .figcaption__collections__img3{
        top: 128.125rem;
        left: -4.2rem;
    }
    .figcaption__collections__img4{
        top: 126.875rem;
        left: 18.75rem;

    }
    .figcaption__collections__img5{
        top: 140rem;
        left: -4.2rem;
    }
    .figcaption__collections__img6{
        top: 138.75rem;
        left: 18.75rem;
    }

    .section__container__collections--btn{
        margin-top: -14rem;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {

    .header{
        max-width: 100%;
    }


    #menu-icon{
        display: flex;
        position: relative;
        right: 1.5rem;

    }

    #navlist{
        position: absolute;
        top: 100%;
        right: -7%;
        width: 300px;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        background: #0D554A;
        transition: all .55s ease;
    }

    #navlist.open{
        right: 0;
    }

    ul{
        display: block;
        margin-left: 50px;
    }

    nav a{
        display: block;
        /* margin: 7px 0; */
        font-size: 1.2rem;
    }

    /* Hero */

    
    .heroSparkleText{
        /* width: 50%; */
        top: 10rem;
    }
        .sparkleImage{
            width: 60%;
        }

    .buttonShopNow{
        bottom: 37%;
    }


    
        .necklaceImage{
            width:18rem;
            /* height: 43rem; */
            height: auto;
            position: absolute;
            top: 10rem;
            left: 3rem;

        }
        .ringsImage{
            position: absolute;
            width: 12.5rem;
            height: auto;
            /* margin-left: 12rem; */
            z-index: 3;
            margin-top:7.3rem;

            left: -8rem;
            top: 9rem;

        }
        .buttonHeroPng{
            position: absolute;
            z-index: 1000;
            top: 26.25rem;
            left: 40.625rem;
            background-color: transparent;
            border-style: none;
        }


        /* Description */

        .description{
            width: 100%;
        } 
            .description__container{
                width: 30%;
                margin-left: 0px;
            }

            .description__figure--logo{
                padding-bottom: 5px;
            }

            .description__container--description__container--p--title{
                font-size: 1.3rem;
            }

            .description__container--description__container--p{
                font-size: 1rem;
            }


        /* Featured Products */

        .container--featured{
            margin-left: 5%;
            width: 25%;
        }

            .features--title{
                font-size: 2.3rem;
                /* width: 100%; */
                width: 25vh;
        
            }

            .features--text{
                font-size: 1rem;
                width: 13rem;
            }

        

        .container--products{
            margin-left: 3rem;
        }
            .product--img{
                width: 15rem;
            }

            .product--figcaption--title{
                font-size: 1.2rem;
            }

            .product--figcaption--text{
                font-size: 1rem;
            }


        /* Our collections */

        .main__collections{
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;
        }

            .section__container__collections--imgs{
                margin-top: -150px;
                gap: 1rem;
                width: 100%;
                margin-top: -180px;
                margin-bottom: -100px;
            }

            .collections__img{
                width: 100%;
            }

            .figcaption__collections__img1, .figcaption__collections__img2,
            .figcaption__collections__img3, .figcaption__collections__img4,
            .figcaption__collections__img5, .figcaption__collections__img6 {
                font-family: Cormorant Garamond;
                font-size: 1.5rem;
                text-align: center;
                color: #FFFFFF;
                position: relative;
                bottom: 3.8rem;
    }

    /* Footer */

    

    .section__footer{
        display: block;
    }

    .article__footer--h1--p{
        left: 35%;
    }

    .article__footer--h1{
        font-size: 2.3rem;
    }

    .article__footer--p{
        font-size: 1.25rem;
    }


    .footer_figure{
        display: block;
        left: 30%;
        margin-top: 10rem;
        width: 50%;
        height: auto;
    }

        .footer_img{
            height: auto;
            width: 100%;
        }

        .footer__figcaption{
            width: 100%;
            font-size: 1.25rem;
            margin: 0 0 0 0;
            text-align: justify;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
        }
        
        .footer__figcaption--h1{
            font-size: 1.3rem;
        }

        .footer__figcaption--p{
            font-size: 1.25rem;
        }

        .button__left{
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
            top: -4rem;
        }

        .button__right{
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
            top: -4rem;
        }


        /*  Subscribe */
        
        

        .footer__container__contact{
            display: flex;
            flex-direction: column-reverse;
        }

        .article__container__subscribe--p--primary{
            color:#F2C66D;
            margin-left: 10rem;
        }
        .article__container__subscribe--p--secundary{
            margin-left: 10rem;
        }

        .footer__input{
            margin-left: 5rem;
        }

        .section__footer__items{
            display: block;
            margin-left: 15rem;
            margin-top: 2.5rem;
        }

        .footer__darlingTitle{
            margin-left: 13rem;
            margin-bottom: 5rem;
        }
            
}



@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    } */

    .header{
        width: 100%;
    }

    ul{
        margin-right: 0;
    }

    nav{
        margin-right: 0;
    }

    .hero{
        width: 100%;
        height: 90vh;
    }


    .darlingTitle{
        margin-left: 10%;
    
    }

    .heroSparkleText{
        z-index: 3;
        position: absolute;
        margin-top: 20%;
        margin-left:10%;
    }
        .sparkleImage{
            width: 85%;
        }



        .heroProductsImages{
            position: absolute;
            justify-content: space-between;
            z-index: 2;
            margin-top: 15%;
            /* right: 49%; */


            
            /* margin-left: 60%; */
            left: 8.6%;


            /* margin-left: 53%; */
        
        }
            .necklaceImage{
                width:22rem;
                /* height: 43rem; */
                height: auto;
                position: absolute;
        
            }
            .ringsImage{
                position: absolute;
                width: 14.5rem;
                height: auto;
                margin-left: 12rem;
                z-index: 3;
                margin-top:7.3rem;
        
            }
            .buttonHeroPng{
                position: absolute;
                z-index: 1000;
                top: 380px;
                left: 900px;
                background-color: transparent;
                border-style: none;
            }
        
        .buttonShopNow{
            bottom: 37%;
        }

        .vector{
            height: 90vh;
        }

    /*  Description ---->  */

    .description{
        width: 100%;
    }

        .description__container{
            margin-left: 0px;
            width: 30%;
        }
        



        .description__figure--logo {
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            
            margin-bottom: 0px;
            
        }
        .description__container--description__container--p--title{
            font-weight: bold;
            font-family: Cormorant Garamond;
            font-size: 1.6rem;
        }
        .description__container--description__container--p{
            color:#9095A0;
            font-family: Manrope;
            font-size: 1rem;
        }


        /* Featured Products */

        .features--title{
            font-size: 2.6rem;
            width: 16.5rem;
        }

        .features--text{
            font-size: 1rem;
            width: 16.5rem;
        }



        .container--products{
            margin-left: 2.5rem;
        }
        .product--img{
            width: 15rem;

        }


        /* Collections ----> */


        .figcaption__collections__img1, .figcaption__collections__img2,
    .figcaption__collections__img3, .figcaption__collections__img4,
    .figcaption__collections__img5, .figcaption__collections__img6 {
        font-family: Cormorant Garamond;
        font-size: 1.7rem;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        bottom: 3rem;
    }

    .section__container__collections--btn{
        margin-top: 1rem;

    }

    .section__container__collections--imgs{
        margin-top: -175px;
    }

        

    /* Footer */


    .section__footer{
        display: flex;
        /* flex-direction: column;
        align-items: center; */
    }

    .article__footer--h1--p{
        top: 10rem;
        left: 7rem;
        right: 0px;
    }

        .article__footer--h1{
            font-size: 2.3rem;
        }

        .article__footer--p{
            font-size: 1rem;
        }

    .footer_figure{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        margin-left: 75px;
        width: 43%;
        margin-top: 15%;
    }

    .footer_img{
        width: 100%;
        height: auto;
        border-radius: 8px 8px 8px 8px;
    }

    .footer__figcaption{
        font-size: 1rem;
        width: 75%;
        /* ACA  */
        padding-left: 0;
        line-height: 35px;
        justify-content: center;
        margin-left: 2.5rem;
        margin-right: 2.5rem;


    }

    .footer__figcaption--p{
        font-size: 1rem;
    }


    /* Subscribe */

    .article__container__subscribe{
        position: absolute;
        /* top: -30px; */
        margin-top:-500px;
        z-index: 100000;
    }

    .article__container__subscribe--p--primary{
        color:#F2C66D;
    }

    .article__container__subscribe--p--secundary{
        margin-top: 1.3rem;
        width: 60%;
    }

    .footer__input{
        width: 22rem;
        border-radius: 18px 18px 18px 18px;
    }

    .footer__btn{
        position: absolute;
        top: 200px;
        left: 115px;
        border-radius: 18px 18px 18px 18px;
    }

    
    
}



@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .menuItem:hover{
        color: #F2C66D;
        text-decoration: none; /* Quita el subrayado predeterminado */
        border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
        padding-bottom: 5px;
        cursor: pointer;
        border-radius: 2px;
    }



        .sparkleImage{
            width: 100%;
        }



    .heroProductsImages{
        position: absolute;
        justify-content: space-between;
        z-index: 2;
        margin-top: 10%;
        margin-left: 55%;
    }

        .necklaceImage{
            width:auto;
            /* height: 43rem; */
            height: auto;
            position: absolute;
    
        }
        .ringsImage{
            position: absolute;
            width: auto;
            height: auto;
            margin-left: 17rem;
            z-index: 3;
            margin-top:7.3rem;
        }
        .buttonHeroPng{
            position: absolute;
            z-index: 1000;
            top: 390px;
            left: 1085px;
            background-color: transparent;
            border-style: none;
        }
        .buttonHeroImg{
            width: 100%
        }
        .buttonHeroImg:hover{
            cursor: pointer;
        }

        /* Description  */

        .description{
            width: 100%;
            margin-right: 0px;
        }

            .description__container{
                width: 25%;
                margin-left: 0px;
            }
            .description__container--description__container--p--title{
                font-size: 1.485rem;
            }
            .description__container--description__container--p{
                font-size: 1.125rem;
            }

        
        /* Featured products */
        .container--featured{
            width: 25%;
            padding-right: 100px;
            /* margin-top: 1rem; */
            /* background: red; */
            margin-left: 10%;
        }
            .features--title{
                font-family: 'Cormorant Garamond';
                font-size: 2.875rem;
                color: #0D554A;
                margin-bottom: 0.5rem;
                margin-top: 0.7rem;
                /* background: yellow; */
            }
        
            .features--text{
                font-family: Manrope;
                color:#9095A0;
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 1.125rem;
                width: 18rem;
            }


            .product--img{
                width: 18rem;
                /* width: auto; */
                border-radius: 10px 10px 0px 0px;
            }
                .product--img--figcaption{
                    margin-left: 1rem;
                }
                .product--figcaption--title{
                    font-size: 1.485rem;
                    font-family: Cormorant Garamond;
            
                }
                .product--figcaption--text{
                    font-size: 1.125rem;
                    font-family: Manrope;
            
                }


                /*  Footer  */

                .article__footer--h1{
                    position: relative;
                    margin-top: 25%;
                    margin-bottom: 1.5rem;
                    /* font-size: 3.250rem; */
                    font-size: 2.6rem;
                    font-family: Cormorant Garamond;
                    text-align: justify;
                
                }
                
                .article__footer--p{
                    font-family: Manrope;
                    font-size: 1.125rem;
                    text-align: justify;
                    margin-top: 1rem;
                    line-height: 2.2rem;
                    font-weight: lighter;
                
                }



                .footer_figure{
                    background-color: #171A1F4D;
                    display: flex;
                    width: 100%; /*60%*/
                    position: relative;
                    text-align: center;
                    border-radius: 8px;
                    margin-right: 10%;
                    margin-top: 5%;
                    margin-left: 15%;
                }
                
                .footer_img{
                    /* width: 50rem; */
                    width: 60%;
                    height: 100%;
                    border-radius: 8px 0 0 8px;
                
                }
                
                .footer__figcaption{
                    
                    /* font-size: 1.2rem; 1 Rem */
                    line-height: 30px;
                    font-weight: 200px;
                    font-family: Manrope; 
                    text-align: justify;
                    color:#FFFFFF;
                    margin: 1.5rem 0;
                    width: 100%;
                    padding-left: 3.5rem;
                    padding-right: 3.5rem;
                    font-weight: lighter;
                    font-size: 0.90rem;
                }
                
                .footer__figcaption--h1{
                    margin-top: 0.825rem;
                    /* margin-bottom: 0.2rem; */
                    font-family: Manrope;
                    font-size: 1.3rem;
                    
                }
                
                .footer__figcaption--p{
                    font-family: Manrope;
                    font-size: 1.125rem;
                }

                .button__left{
                    width: 4.25rem; 
                    height: 4.25rem;
                    border-radius: 60px;
                    font-size: 5rem;
                    padding-bottom: 0.3rem;
                    border: 1px solid #FFFFFF;
                    background: transparent;
                    color: #FFFFFF;
                    font-family: Manrope;
                    position: absolute;
                    right: 5rem;
                    top: -0.285rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 1;
                    
                
                }

                .button__right{
                    width: 4.25rem;
                    height: 4.25rem;
                    border-radius: 60px;
                    padding-bottom: 0.3rem;
                    color:#FFFFFF;
                    border:1px solid #FFFFFF;
                    background: transparent;
                    font-family: Manrope;
                    font-size: 5rem;
                    position:absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -0.285rem;
                    right: -1rem;
                    
                }







                .footer__container__contact{
    
                    display: flex;
                    justify-content: space-between;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-top: 7%;
                }
                
                
                
                .section__footer__items{
                    display: flex;
                    /* flex-wrap: wrap; */
                    margin-bottom: 15px;
                    /* margin-right: 7rem; */
                    width: 35%;
                    justify-content: center;
                    margin-left: 10%;

                }
                
                .footer__items--left, .footer__items--right{
                    color: #FFFFFF;
                    font-family: Manrope;
                    margin-bottom: 50px;
                
                }

            

                .footer__item--left--p, .footer__item--right--p{
                    color: #FFFFFF;
                    margin-bottom: 15px;
                    margin-right: 8rem;
                    font-size: 1.125em;
                    z-index: 1000;
                    
                }





                .article__container__subscribe{
                    margin-top: -0.5rem;
                }
                
                .article__container__subscribe--p--primary{
                    color: #FAFAFB;
                    font-family: Cormorant Garamond;
                    font-size: 1.625rem;
                    font-weight: 300px;
                
                
                }
                .article__container__subscribe--p--secundary{
                    color: #FAFAFB;
                    font-size: 1rem;
                    font-family: Manrope;
                    font-weight: 200px;
                
                }


                .footer__input{
                    margin-top: 1.5rem;
                    width: 20rem;
                    border-radius: 18px 0px 0px 18px;
                    border: 1px solid #FFFFFF;
                    height: 2.5rem; /*2.1875rem*/
                    font-family: Manrope;
                    font-size: 0.9rem;
                    background-color: #093931;
                    background-image: url("../assets/Mail.png");
                    background-repeat: no-repeat;
                    background-position: 10px ;
                }
}




@media only screen and (min-width: 1281px) {

}




