@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    /* overflow: hidden; */
}

:root{
    --bg-image-banner: url('../assets/olas_blancas2.png');
    --font-manrope: 'Manrope';
    --font-cormorant-garamond: 'Cormorant-Garamond';
    --color-tittles: #F5D38E;
    --color-navlist-a:#FFFFFF;
    --color-body-select: #0D554A;
}


/* Header */
ul, ol{
    list-style: none;
}

.header{
    background-color: #093931;
    display: flex;
    justify-content: space-between;
    padding:1% 10%;
    overflow: hidden;
}

        .header__a{
            color: var(--color-tittles);
            font-family: var(--font-cormorant-garamond);
            font-size: 2rem;
            font-weight: lighter;
        }

    .header__nav{
        max-width: 60%;
        width: 60%;
        display: flex;
    }

    .header__ul{
        display: flex;
        width: 100%;
        gap: 10%;
    }
        .header__a--nav{
            color: #FFFFFF;
            font-family: var(--font-manrope);
            font-size: 1.125rem;
            font-weight: lighter;
            width: 100%;
        }

        #menu-icon{
            color: #FFFFFF;
            display: none;
        }

        /* Header Hover */

        .header__li:hover{
            color: var(--color-tittles);
            text-decoration: none; /* Quita el subrayado predeterminado */
            border-bottom: 3px solid #F2C66D; /* Agrega una línea en la parte inferior */
            padding-bottom: 5px;
            cursor: pointer;
            border-radius: 2px;
        }
            .header__a--nav:hover{
                color: var(--color-tittles);
            }



/* Hero */

.hero{
    max-width: 100%;
    width: 100%;
    height: 70vh;
    background: #093931;
    background-image: var(--bg-image-banner);
    background-repeat: no repeat;
    background-size: cover;
    text-align: center;
    
}

    .heroTop{
        background-color:transparent;
        position: relative;
        background-image: none;
        padding-top: 10%;

    }
        .heroTop__h1{
            height: 10vh;
            font-family: var(--font-cormorant-garamond);
            color: var(--color-tittles);
            font-size: 3.6rem;
            background-color: transparent;
            background-image: none;
            padding-bottom: 6.5%;

        }
        .heroTop__input{
            height: 3.5rem;
            width: 50%;
            text-align: justify;
            border-radius: 26px;
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
            .hero__input:focus{
                outline: none;
                color: #FFFFFF;
            }
            .hero__input::placeholder{
                color: #FFFFFF;
            }
            .hero__input:focus::placeholder{
                color:transparent
            }


/* Main */

/* Section nav Top */

.main{
    max-width: 100%;
    padding:1% 10%;
}

    .section__nav{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
        .section__nav--ul{
            display: flex;
            justify-content: space-between;
            /* width: 70%; */
            /* Se puede comentar y descomentar para tener efecto distinto. */
        }
            .navli__item{
                height: 100%;
                font-size: 1.3rem;
                color: #093931;
                padding: 0.5rem 4rem;
                border-radius: 26px;

            }
            .navli__item:hover{
                background: #093931;
                color: #FFFFFF;
                height: 100%;
                cursor: pointer;
                padding: 0.5rem 4rem;
                border-radius: 26px;
            }

    .section__select{
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
        .section__select--label{
            font-size: 1.5rem;
            border-bottom: 1px solid black;
        }
        .section__select--select{
            width: 15%;
            border: none;
            border-bottom: 1px solid black;
        }


/*  Section figure Top*/

.section__figure--top{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}
    .figure--top{
        width: 25%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
        .figure--top--img{
            width: 100%;
        }
        .figcaption__h1{
            font-size: 1.6rem;
        }
        .figcaption__p{
            font-size: 1.3rem;
        }

        .figure--top--figcaption{
            margin-left: 5%;
        }


/* Section figure Bottom */
.section__figure--bottom{
    max-width: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}



    .card__primary__container{
        width: 73%;
        height: auto;
    }
        
    .card__secondary__container{
        display: flex;
        flex-wrap: wrap;
    }

    .figure--bottom{
        width: 50%;
    }
    .figure--bottom--img{
        width: 100%;
    }
    .figure--bottom--figcaption{
        margin-left: 5%;
    }



/* Section pagination */

.section__pagination{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #9095A0;
    /* No hace nada */
}
    .ul__pagination{
        /* background: red; */
        display: flex;
        justify-content: center;
        gap: 2rem;
        font-size: 1rem;
        color: #9095A0;
    }
    .li__pagination{
        border-radius: 60px;
        padding: .5rem .5rem;

    }
    .li__pagination:hover{
        /* border-style: 1px solid #093931; */
        color: #093931;
        outline: 1px solid #093931;
    }

    .li__pagination--a{
        width: auto;
        font-size: 1.6rem;
        /* background: blue; */
    }
/* Section description */
.section__description{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
    
    .card__figcaption--title{
        font-family: var(--font-cormorant-garamond);
        font-size: 1.6rem;
        margin-top: 5%;
    }
    .card__figcaption--text{
        font-family: var(--font-manrope);
        font-size: 1.2rem;
        color:#9095A0;
        width: 75%;
        text-align: center;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 20%;
    }


/* Footer */

.footer{
    padding:1% 10%;
    background-color: #093931;
    width: 100%;
    overflow: hidden;
}
    .footer__section--top{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

        .footer__section__container--top{
            margin-top: 2rem;
        }

            .footer__a{
                color: var(--color-tittles);
                font-family: var(--font-cormorant-garamond);
                font-size: 2rem;
                font-weight: lighter;
            }
        .footer__ul{
            display: flex;
            flex-wrap: wrap;
        }
            .footer__li{
                flex: 0 0 50%;
            }
            .footer__a--nav{
                display: block;
                padding: 10px;
                text-decoration: none;
                text-align: center;
                font-size: 1.125rem;
                color: #FFFFFF;
                font-family: var(--font-manrope);
            }

            .subscribe__item--title{
                color: #F4F4FB;
                font-size: 1.8rem;
                font-family: var(--font-cormorant-garamond);
                font-weight: 300px;
            }
            .subscribe__item--p{
                font-size: 1.125rem;
                font-family: var(--font-manrope);
                font-weight: 200px;
                color: #FFFFFF;
            }
            .subscribe__item--input{
                background-color: #093931;
                width: 25rem;
                height: 2.5rem;
                border-radius: 18px 0 0 18px;
                border: 1px solid #FFFFFF;
                font-size: 0.9rem;
                font-family: var(--font-manrope);
                margin-top: 1.5rem;
                background-image: url("../assets/Mail.png");
                background-repeat: no-repeat;
                background-position: 10px ;
            }
                .subscribe__item--input::placeholder{
                    color: #FFFFFF;
                }
                .subscribe__item--input:focus{
                    outline: none;
                    color: #FFFFFF;
                    background-image: none;
                    padding-left: 15px;
                }

            .subscribe__btn{
                background-color: #F2C66D;
                width: 7.125rem;
                height: 2.50rem;
                margin-left: -0.25rem;
                border-radius: 0 18px 18px 0;
                font-family: var(--font-manrope);
                font-size: 0.875rem;
                border-style: none;
            }






    .footer__section__socialmedia{
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        font-size: 0.875rem;
        margin-top: 5%;
    }
        .social-icons{
            display: flex;
        }
