@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    /* overflow: hidden; */
}

:root{
    --bg-image-banner: url('../assets/olas_blancas2.png');
    --font-manrope: 'Manrope';
    --font-cormorant-garamond: 'Cormorant-Garamond';
    --color-tittles: #F5D38E;
    --color-navlist-a:#FFFFFF;
    --color-body-select: #0D554A;

    --fontManrope: 'Manrope';
    --fontCormorant: 'Cormorant-Garamond';
    --titlesColor: #F5D38E;
    --backgroundsColor: #093931;
    --fontsColor: #ffffff;
    --titlesSize: 30px;
    --titlesContentColor: #0D554A;
}


/* Header */
ul, ol{
    list-style: none;
}



header{
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundsColor);
    height: 62px;
}
    .header__title{
        margin-left: 7%;
        align-self: center;
        width: 10%;
        color: var(--titlesColor);
        font-family: var(--fontCormorant);
        font-size: var(--titlesSize);
    }
        .header__title:hover{
            cursor: pointer;
        }


    .header__nav{
        display: flex;
        margin-right: 7%;
        align-self: center;
        justify-content: end;
        gap: 2rem;
    }
        .header__nav--button{
            background-color: transparent;
            border: none;
            color: var(--fontsColor);
            font-size: 14px;
            font-family: var(--fontManrope);
        }
        .header__nav--button:hover{
            text-decoration: none;
            border-bottom: 3px solid #F2C66D;
            padding-bottom: 5px;
            cursor: pointer;
            border-radius: 2px;
            color:#FFFFFF;
            
        }



/* Hero */

.hero{
    max-width: 100%;
    width: 100%;
    padding-bottom: 10rem;
    background: #093931;
    background-image: var(--bg-image-banner);
    background-repeat: no repeat;
    background-size: cover;
    text-align: center;
    
}

    .heroTop{
        background-color:transparent;
        position: relative;
        background-image: none;
        padding-top: 10%;

    }
        .hero--heroTop__h1{
            height: 10vh;
            font-family: var(--font-cormorant-garamond);
            color: var(--color-tittles);
            font-size: 3.6rem;
            font-weight: lighter;
            background-color: transparent;
            background-image: none;
            padding-bottom: 6.5%;

        }
        .hero--heroTop__input{
            height: 3.5rem;
            width: 60%;
            text-align: justify;
            border-radius: 26px;
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            color: black;
            background-image: url('../assets/Search.png');
            background-repeat: no-repeat;
            background-position:15px center;

            padding-left: 2.8rem;
        }
            .hero--heroTop__input:focus{
                outline: none;
                color: black;
            }
            .hero--heroTop__input::placeholder{
            
                color: #9095A0;
            }
            .hero--heroTop__input:focus::placeholder{
                color:transparent
            }


/* Main */

/* Section nav Top */



    .section__nav{
        margin-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
        font-family: var(--fontManrope);
    }
        .section__nav--ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 70%;
        }
            .navli__item{
                height: 2.5rem;
                align-self: center;
                font-size: 1.3rem;
                color: #093931;
                padding: 0.5rem 1.5rem;
                border-radius: 26px;

            }
            .navli__item:hover{
                background: #093931;
                color: #FFFFFF;
                height: 2.5rem;
                align-self: center;

                cursor: pointer;
                padding: 0.5rem 1.5rem;
                border-radius: 26px;
            }

    .section__select{
        width: 30%;
        display: flex;
        /* justify-content: flex-end; */
    }
        
        .section__select--select{
            all: initial;
            font-family: var(--fontManrope);
            align-self: center;
            width: 100%;
            padding-top: 0.8rem;
            height: 2rem;
            border: none;
            border: #ffffff;
            border-bottom: 1px solid black;
            background-repeat: no-repeat;
            background-position: right center; 
            background-image: url('../assets/arrow.png');
        }


/*  Section figure Top*/

.section__figure--top{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
    gap: 1%;
}
    .figure--top{
        width: 24%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
        .figure--top--img{
            width: 100%;
            height: 20rem;
            border-radius: 18px;
        }
        .figcaption__h1{
            font-size: 1.6rem;
        }
        .figcaption__p{
            font-size: 1.3rem;
        }

        .figure--top--figcaption{
            margin-left: 5%;
        }

.figcaption__p{
    font-family: var(--fontManrope);
}
/* Section figure Bottom */

.section__figure--bottom{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
}
    .card__primary__container{
        width: 53%;
        margin-top: 1%;
    }
    .figure__primary--bottom{
        margin-bottom: 7%;

    }

        .figure--bottom--img--big{
            border-radius: 18px;
            width: 100%;
        }


    .card__secondary__container{
        width: 55%;
        display: flex;
        flex-wrap: wrap;

    }
        .figure--bottom{
            width: 45%;
            margin:2%
        }
            .figure--bottom--img{
                width: 100%;
                border-radius: 18px;
            }


/* Section pagination */

.section__pagination{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #9095A0;
}
    .ul__pagination{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        font-size: 1.5rem;
        color: #9095A0;
    }
    .li__pagination{
        border-radius: 60px;
        padding: .5rem .5rem;

    }
    .li__pagination:hover{
        width: 3%;
        border-radius: 80px;
        color: #093931;
        outline: 1px solid #093931;
    }

   

/* Section description */

.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 7%;
    margin-right: 7%;
    gap: 5%;
}
    .card__description{
        text-align: center;
    }
        .card__figcaption__card__figcaption--title{
            font-size: 1.5rem;
            font-family: var(--fontCormorant);
        }
        .card__figcaption__card__figcaption--text{
            font-size: 1.2rem;
            font-family: var(--fontManrope);
            color: #9095A0;
        }


/* Footer */

footer{
    margin-top: 6rem;
    width: 100%;
    background-color: var(--backgroundsColor);
    display: flex;
    flex-direction: column;
}
    .footer__section{
        display: flex;
        flex-wrap: wrap;
        margin-left: 7%;
        margin-right: 7%;
        justify-content: space-between;
        margin-top: 4rem;
    }

        .footer__darling__container{
            align-self: center;
        }
            .footer__darling__container--darling{
                color:var(--titlesColor);
                font-size: var(--titlesSize);
            }



        .footer__nav__container {
            display: flex;
            width: 30%;
            justify-content: space-between;
            padding-left: 1%;
            padding-right: 1%;
        }
            
            .footer__nav__container--left__column,
            .footer__nav__container--right__column {
                display: flex;
                flex-direction: column;
            }
                .footer__nav--button{
                    border: none;
                    background-color: transparent;
                    color: var(--fontsColor);
                    font-family: var(--fontManrope);
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
            


        .footer__subscribe__container{
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
                .footer__subscribe__container--text__container--title{
                    font-family: var(--fontCormorant);
                    color: var(--fontsColor);
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 0.3rem;
                    display: flex;
                    flex-wrap: wrap;
                }
                .footer__subscribe__container--text__container--text{
                    font-family: var(--fontManrope);
                    color: #FAFAFB;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    word-wrap: break-word; 
                }

                .footer__subscribe__container--input__container{
                    width: 100%;
                }
                .footer__subscribe__container--input__container--input{
                    
                        background-color: var(--backgroundsColor);
                        width: 100%, auto;
                        height: 2.5rem;
                        border-radius: 18px 0 0 18px;
                        border: 1px solid #FFFFFF;
                        font-size: 0.9rem;
                        font-family: var(--fontManrope);
                        background-image: url("../assets/Mail.png");
                        background-repeat: no-repeat;
                        background-position: 10px;
                }
                    .footer__subscribe__container--input__container--input:focus{
                        outline: none;
                        color: #FFFFFF;
                        background-image: none;
                        padding-left: 15px;
                        
                    }
                    .footer__subscribe__container--input__container--input::placeholder{
                        color: var(--fontsColor);
           
                    }
                .footer__subscribe__container--input__container--button{
                    
                        background-color: #F2C66D;
                        width: 30%;
                        height: 2.50rem;
                        margin-left: -0.25rem;
                        border-radius: 0 18px 18px 0;
                        font-family: var(--fontManrope);
                        font-size: 0.875rem;
                        border-style: none;
                    
                }

    .footer__mark__section{
        display: flex;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 1%;
        padding-bottom: 0.5rem;
    }
        .footer__mark__section--copyright--text{
            color: var(--fontsColor);
            font-family: var(--fontManrope);
        }





/* Pulir el menu desplegable de section main */








/* Implementation of resposive designs*/
@media only screen and (min-width: 320px) and (max-width: 911px){

header{
    display: flex;
    justify-content: space-between;
}
   


/* filtros */

#navlist-section {
    display: block;
    display: none;
    width: 40%;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 18px;

}


#filterButton{
    border: none;
    border-radius: 18px;
    width: 4rem;
    font-family: var(--fontManrope);
    color: var(--titlesContentColor);
}






/* footer */
    .footer__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer__nav__container{

        display: flex;
        flex-direction: column;

    }
    .footer__subscribe__container{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 100%;
    }
    .footer__subscribe__container--text__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__subscribe__container--input__container{
        display: flex;
        justify-content: center;
    }
    .footer__subscribe__container--input__container--input{
        width: 55%;
    }
    .footer__subscribe__container--input__container--button{
        width: 20%
    }
}


@media only screen and (min-width: 912px) and (max-width: 2000px){
#filterButton{
    display: none;

}

}

/* breakpoint dedicated to header, can be re-used */
@media only screen and (min-width: 320px) and (max-width: 768px){
.header__nav{
    background-color: #093931;
    z-index: 40;
}
    #navButtons {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        margin-top: 24rem;
    }
    
    
    #navButtons {
        display: none;

    }
    #navToggleButton{
        margin-right: 7%;
        border: none;
        background-color: transparent;
        color: #F2C66D;
        font-size: 2rem;
    }
    
}
@media only screen and (min-width: 769px) and (max-width: 2000px){
    #navToggleButton{
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px){

    .section__figure--top{
        display: flex;
        flex-wrap: wrap;
    }
    .figure--top{
        width: 20rem;
    }
    .section__figure--bottom{
        display: flex;
        flex-direction: column;
    }
    .card__primary__container{
        width: 100%;
    }
        .figure--bottom--img--big{
            height: 30rem;
        }


    .card__secondary__container{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
    .figure--bottom{
        width: 20rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 751px){
    .section__figure--top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .figure--top{
            width: 15rem;
        }
    .card__secondary__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .figure--bottom{
            width: 15rem;
        }
}

@media only screen and (min-width: 320px) and (max-width: 491px){


    .footer__nav__container{
        width: 70%;
    }
    .footer__subscribe__container--input__container--button{
        width: 20%;
        font-size: 0.5rem;
    }
    .footer__subscribe__container{
        text-align: center;
    }
    .section__description{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 320px) and (max-width: 420px){

   .section__select{
    width: 40%;
   }

}
